<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.test43.dao.ScheduleMapper">
	<resultMap type="schedule" id="calMap">
		<result property="start" column="tc_start"></result>
		<result property="end" column="tc_end"></result>
	</resultMap>
	<select id="scheduleList" parameterType="String" resultType="schedule" resultMap="calMap">
		select 
   			tc_id
    		,st_id
  			,TO_char(tc_start, 'YYYY-MM-DD"T"HH24:MI:SS') tc_start
  			,TO_char(tc_end, 'YYYY-MM-DD"T"HH24:MI:SS') tc_end
 			,title
 		 	,classnames
		from 
   			tschedule
		where
 		   tc_id =  #{tc_id} 
</select>

<select id="SscheduleList" parameterType="String" resultType="schedule" resultMap="calMap">
		select 
   			tc_id
    		,st_id
  			,TO_char(tc_start, 'YYYY-MM-DD"T"HH24:MI:SS') tc_start
  			,TO_char(tc_end, 'YYYY-MM-DD"T"HH24:MI:SS') tc_end
 			,title
 		 	,classnames
		from 
   			tschedule
		where
 		   st_id =  #{st_id} 
</select>
<insert id="insertSchedule" parameterType="schedule">
insert into Tschedule(
   Tschedule_num   
    ,tc_id
    ,st_id
	 ,tc_start
    ,tc_end
    ,title         
    ,classnames    
)values(
    Tschedule_num_seq.nextval
    ,#{tc_id}
    ,#{st_id}
    ,to_date(#{start}, 'YYYY-MM-DD"T"HH24:MI:SS')
    ,to_date(#{end}, 'YYYY-MM-DD"T"HH24:MI:SS')
    ,#{title}
    ,#{classnames}
)




</insert>

</mapper>
